<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
        <RandomAccessFile name="RandomAccessFile" fileName="java4ever-binding-trace.log" immediateFlush="false" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
    </appenders>
    <loggers>
        <logger name="tech.deplant.java4ever.ffi" level="warn" additivity="false">
            <appender-ref ref="RandomAccessFile" />
        </logger>
        <logger name="tech.deplant.java4ever.binding" level="warn" additivity="false">
            <appender-ref ref="RandomAccessFile" />
        </logger>
        <root level="warn">
            <appenderRef ref="RandomAccessFile"/>
        </root>
    </loggers>
</configuration>